{% extends 'layout/base.html.twig' %}

{% block title %}
	{{ site.meta_title }}{{ searchParams.page|page }}
{% endblock %}

{% block description %}
	{{ site.meta_description }}{{ searchParams.page|page }}
{% endblock %}

{% block header %}
	{{ include('layout/partials/header_home.html.twig') }}

	{# {{ include('property/partials/_search_form.html.twig') }} #}
{% endblock %}
{% block body %}
<body>
  {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ url('admin_property_edit', {id: property.id}) }}" class="btn btn-primary float">
            <i class="fas fa-pen float-icon"></i>
        </a>

    {% endif %}

    <br>
  <!-- Page-->
  <div class="page">
    <!-- Page Header-->

    <!-- Section Title Breadcrumbs-->
 {{ include('property/partials/header.html.twig') }}
    <!-- Section Catalog Single Left-->

    <section class="section-sm section-sm-mod-2 text-left">
      <div class="container">
        <div class="row">
         {{ include('property/partials/carousel.html.twig') }}
         {{ include('property/partials/comment.html.twig') }}
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="sidebar sidebar-mod-1">
              <div class="sidebar-module">
                <!-- RD Google Map-->
                {{ include('property/partials/map.html.twig') }}

              </div>
               {{ include('property/partials/rdv.html.twig') }}
              {{ include('property/partials/agent_info.html.twig') }}
            {{ include('property/partials/share.html.twig') }}

             {% if properties %}
            {{ include('property/partials/_similar_properties.html.twig') }}
            {% endif %} {{ include('property/partials/recent.html.twig') }}



            </div>
          </div>
        </div>
      </div>
    </section>

  </div>




	{% endblock %}


