<section>
	<!--Swiper-->
	<div data-height="" data-min-height="600px" class="swiper-container swiper-slider swiper-container-horizontal">
		<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-3806px, 0px, 0px);">
			{% for property in properties %}
				<div data-slide-bg="/new/images/{{property.getImgSlide}}" class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="background-image: url('{{ asset('/new/images/'~ property.getImgSlide)}}'); background-size: cover; width: 1903px;">
					<div class="swiper-slide-caption">
						<div class="container">
							<div data-caption-animate="fadeInDown" class="swiper-caption-wrap not-animated">
								<p data-caption-animate="fadeIn" data-caption-delay="800" class="h3 not-animated">{{property.slug}}</p>
								<hr data-caption-animate="fadeIn" data-caption-delay="800" class="not-animated">
								<p data-caption-animate="fadeIn" data-caption-delay="800" class="hidden-xs not-animated">{{property.description}}</p>
								<div data-caption-animate="fadeIn" data-caption-delay="800" class="price text-ubold not-animated">{{property.price}} FCFA
									<span>/ jour</span>
								</div>
								<a href="single-property-page.html" data-caption-animate="fadeIn" data-caption-delay="800" class="btn btn-sm btn-sushi not-animated">Reserve maintenant</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- Swiper Navigation-->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</section>