{% extends "proprietairebase.html.twig" %}
{% block bars %}
    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>Propri&eacute;taire</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    {% if is_granted('ROLE_ADMIN') %}
                    <img src="{{ app.user.avatarUrl(50) }}" alt="..." class="img-circle profile_img">
                    {% endif %}
                </div>
               {#  <div class="profile_info">
                    <span>{{ "backend.global.welcome"|trans }},</span>
                    <h2>{{ app.user.username }}</h2>
                </div> #}
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a href="#"><i class="fa fa-desktop"></i> {{ "backend.menu.home"|trans }}</a>
                        </li>
                        <li><a><i class="fa fa-home"></i>Biens<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#">Lots</a></li>
                                <li><a href="#">Immeubles</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-users"></i> Locataire</a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i> Location</a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i> Reservation</a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i> Inventaires</a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i>Etat des lieux</a>
                        </li>
                        <li><a href="#"><i class="fa fa-home"></i>Finances</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Documents</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Carnet</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Interventions</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Tâches</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Notes</a>
                        </li> <li><a href="#"><i class="fa fa-home"></i>Messages</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Candidats</a>
                        </li>
                         <li><a href="#"><i class="fa fa-home"></i>Forum</a>
                       {#  </li>
                        {% if is_granted("ROLE_PROPRIETAIRE") %}
                        <li><a><i class="fa fa-user"></i> {{ "backend.menu.user"|trans }} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#">{{ "backend.menu.manage"|trans }}</a></li>
                            </ul>
                        </li>
                        {% endif %} #}
                      {#   {% if is_granted("ROLE_WRITER") %}
                        <li><a><i class="fa fa-bookmark"></i>{{ "backend.menu.categories"|trans }} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#">{{ "backend.menu.manage"|trans }}</a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-clipboard"></i> {{ "backend.menu.blog"|trans }} <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{{ path('app_admin_blogPosts') }}">{{ "backend.menu.manage"|trans }}</a></li>
                                {% if is_granted("ROLE_EDITORIAL") %}
                                    <li><a href="{{ path('app_admin_allhistorique_blogPosts') }}">{{ "backend.menu.history"|trans }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %} #}
                    </ul>
                </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                            <img src="/new/images/img.jpg" alt="">{{ app.user.username }}</a>

                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  href="#"><i class="fa fa-key pull-right"></i>{{ "backend.global.change_my_password"|trans }}</a>
                            <a href="/landlord/#profile/settings" role="button" class="dropdown-item"><i class="fa fa-cog"></i> Réglages</a>
                            <a href="/landlord/#multilandlord" role="button" class="dropdown-item"><i class="fa fa-users"></i> Multi-propriétaire</a>
                            <a href="/landlord/#users" role="button" class="dropdown-item"><i class="fa fa-users"></i> Utilisateurs <sup class="red">BETA</sup></a>
                            <a href="/landlord/#systemmessages" role="button" class="dropdown-item"><i class="fa fa-paper-plane"></i> Messages système <sup class="red">BETA</sup></a>
                            <a href="/landlord/#profile/rentcollect" role="button" class="dropdown-item"><i class="fa fa-university"></i> Paiements en ligne</a>
                                    <span class="dropdown-header">Mon compte</span>
                            <a href="/landlord/#profile/edit" role="button" class="dropdown-item"><i class="fa fa-user"></i> Mon compte</a>
                            <a href="/landlord/#profile/credentials" role="button" class="dropdown-item"><i class="fa fa-lock"></i> Email et mot de passe</a>
                            <a href="/landlord/#profile/abonnement" role="button" class="dropdown-item"><i class="fa fa-recycle"></i> Abonnement et facturation </a>
                            <a href="/landlord/#profile/export" role="button" class="dropdown-item"><i class="fa fa-cloud-download"></i> Export du compte</a>
                            <a class="dropdown-item"  href="#"><i class="fa fa-sign-out pull-right"></i>{{ "backend.global.logout"|trans }}</a>




	</ul>

                        </div>

                    </li>





                </ul>

            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        {% for message in app.flashes("error") %}
            <div class="alert alert-danger alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>{{ "backend.global.error"|trans }}</strong> {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes("success") %}
            <div class="alert alert-success alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>{{ "backend.global.success"|trans }}</strong> {{ message }}
            </div>
        {% endfor %}
        {% block contenpage %}{% endblock %}
    </div>
    <!-- /page content -->
    <style>

    .dropdown-header {
    text-align: center;
    text-transform: uppercase;
    padding: 2px 10px;
    margin: 5px 0px;
    font-size: 11px;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.03);
}</style>
{% endblock %}
