<form action="{{ url('admin_structure_delete', {id: structure.id}) }}" method="post" data-confirmation="true" id="delete-form-{{ structure.id }}">

	<a href="{{ url('admin_structure_edit', {id: structure.id}) }}" class="btn btn-sm btn-outline-primary">{{ 'action.edit' | trans }}</a>
	&nbsp;&nbsp;&nbsp;

	<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
	<button type="submit" class="btn btn-sm btn-danger" onclick="if(confirm('{{ 'confirmation.delete_item' | trans }}')){ return true }else{ return false }">
		{{ 'action.delete' | trans }}
	</button>
</form>
